<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radu LLC</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/materialize/css/materializemin.css">
    <script src="/jquery.js" defer></script>
    <script src="/repos.js" defer type="module"></script>
    <link rel="apple-touch-icon" href="/radullc.png">
    <meta name="theme-color" content="#A0C802">
    <link rel="manifest" href="/manifest.json">
</head>
<body>
    <header>
        <nav class="sticky">
            <ul id="nav">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/repos">Repos</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="preloader-back">
        <div class="preloader-wrapper active big">
            <div class="spinner-layer spinner-red-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
        </div>
    </div>
    <main>
        <br>
        <h3>Repos</h3>
        This page is a work-in-progress. Expect bugs
        <br>
        <div class="container" id="container"></div>
    </main>
</body>
</html>